<!DOCTYPE html>
<html>
        <!-- 导入css -->
    <include file="./Application/Teacher/Public/html/css.html" />
        <!-- Mainly scripts -->
           <!-- 导入js -->
    <include file="./Application/Teacher/Public/html/js.html" />
<body>
    <div id="wrapper">
        <!-- 导入导航菜单 -->
    <include file="./Application/Teacher/Public/html/navbar.html" />
        <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 导入页面头部 -->
    <include file="./Application/Teacher/Public/html/headbar.html" />

              <!-- 本页面内容 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h1>首页</h1>
                    
                </div>
                <div class="col-lg-3">
                    <h2></h2>
                    
                </div>
            </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
        	<div class="col-lg-10 col-lg-offset-1" style="margin: 100px;">
        		
        		<p style="font-size: 20px;">
        			      &nbsp; &nbsp; &nbsp;网维团队秉承"诚信为本、长期服务"的宗旨，将以务实创新的精神,
        			   是一个为您建设网上平台的高科技服务网络团队，凭借优秀的人才技术和经验实力
        			   致力于网站开发、软件开发等项目。网维拥有一支充满自信和激情的技术团队，
        			  他们有一定的经验，在Flash网页，动态画面, 框架式网页都有着较强的技术实力，
        			  他们会深入了解您的产品和对网站的建设要求，设计出符合您的网站形象方案，并且提供专业、到位的培训服务。
        		</p>
        		<p style="font-size: 20px;">
        			网维团队理念:
    诚信是团队立足的基础
    客户是团队生存的血液
    队员是团队发展的心脏
    创新是团队壮大的灵魂

        		</p>
        		<div style="margin-left: 85%;">
        			<img src="{$Think.const.ADMIN_PUBLIC}/img/wteam.jpg" style="width: 150px;height: 100px;"/>
        		<br />
        		<p style="margin-top: 10px;">电话:18312710387</p>
        		<br />
        		<p>微信:lzhlad</p>
        		</div>
        		
        	</div>
        </div>
        </div>
        </div>
          <!-- end -->
          <!-- 导入页面头部按钮 -->
    <include file="./Application/Teacher/Public/html/footbar.html" />
        
          <!-- 导入页面头部按钮 -->
    <include file="./Application/Teacher/Public/html/headbtn.html" />
    </div>
    <script type="text/javascript">

    </script>

</body>
</html>
