<!DOCTYPE html>
<html>
        <!-- 导入css -->
    <include file="./Application/Admin/Public/html/css.html" />
        <!-- Mainly scripts -->
           <!-- 导入js -->
    <include file="./Application/Admin/Public/html/js.html" />
<body>
    <div id="wrapper">
        <!-- 导入导航菜单 -->
    <include file="./Application/Admin/Public/html/navbar.html" />
        <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 导入页面头部 -->
    <include file="./Application/Admin/Public/html/headbar.html" />

              <!-- 本页面内容 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2>课题内容</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">首页</a>
                        </li>
                        <li class="breadcrumb_li2">
                            课题内容修改
                        </li>
                        <li class="active">
                            <strong class="breadcrumb_li3">修改课题内容</strong>
                        </li>
                    </ol>
                </div>
            </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
        	<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改课题内容</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" id="form_data" name="form_data" enctype="multipart/form-data">
                                <div class="form-group"><label class="col-sm-4 control-label">课题名称:</label>
                                    <div class="col-sm-5"><input readonly="readonly" type="text" value="{$result[0].ct_name}" placeholder="不能为空" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">课题名称:</label>
                                    <div class="col-sm-5"><input readonly="readonly" type="text" value="{$result[0].ct_title_en}" placeholder="不能为空" class="form-control" required=""></div>
                                </div>
                                <!--<div class="form-group"><label class="col-sm-4 control-label">课题可选人数上限:</label>
                                    <div class="col-sm-2"><input type="text" value="{$result[0].ct_limit_num}" placeholder="不能为空" name="ct_limit_num" class="form-control" required=""></div>
                                </div>-->
                                <div class="form-group" style="display: inline;">
                                	<label class="col-sm-4 control-label">指定某系学生可选:</label>
                                	<span class="col-sm-2">{$result[0].ct_faculty}</span>
                                </div>
                                 <!--<div class="form-group"><label class="col-sm-4 control-label">课题经费来源:</label>
                                    <div class="col-sm-2"><input type="text" value="{$result[0].ct_jingfei}" placeholder="不能为空" name="ct_jingfei" class="form-control" required=""></div>
                                </div>-->
                                <div class="form-group" style="display: inline;">
                                	<label class="col-sm-4 control-label">课题经费来源:</label>
                                	<span class="col-sm-2">{$result[0].ct_jingfei}</span>
                                </div>
                                <!-- <div class="form-group"><label class="col-sm-4 control-label">选题结合实际:</label>
                                    <div class="col-sm-2"><input type="text" value="{$result[0].ct_shiji}" placeholder="不能为空" name="ct_shiji" class="form-control" required=""></div>
                                </div>-->
                                <div class="form-group" style="display: inline;">
                                	<label class="col-sm-4 control-label">选题结合实际:</label>
                                	<span class="col-sm-2">{$result[0].ct_shiji}</span>
                                </div>
                                 <!--<div class="form-group"><label class="col-sm-4 control-label">选题难度:</label>
                                    <div class="col-sm-2"><input type="text" value="{$result[0].ct_nandu}" placeholder="不能为空" name="ct_nandu" class="form-control" required=""></div>
                                </div>-->
                                <div class="form-group"><label class="col-sm-4 control-label">选题难度:</label>
                                	<span class="col-sm-2">{$result[0].ct_nandu}</span>
                                </div>
                                <!--<div class="form-group"><label class="col-sm-4 control-label">选题工作量:</label>
                                    <div class="col-sm-2"><input type="text" value="{$result[0].ct_gongzuoliang}" placeholder="不能为空" name="ct_gongzuoliang" class="form-control" required=""></div>
                                </div>-->
                                <div class="form-group"><label class="col-sm-4 control-label">选题工作量:</label>
                                	<span class="col-sm-2">{$result[0].ct_gongzuoliang}</span>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">指导老师:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_teacher}"readonly="readonly" placeholder="不能为空" name="ct_teacher" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">指导老师职称:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_zhicheng}"readonly="readonly" placeholder="不能为空" name="ct_zhicheng" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">指导老师电话:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_phone}"readonly="readonly" placeholder="不能为空" name="ct_phone" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">副指导老师:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_fu_name}"readonly="readonly" placeholder="选填" name="ct_fu_name" class="form-control"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">副指导老师职称:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_zhicheng1}" readonly="readonly"placeholder="选填" name="ct_zhicheng1" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">副指导老师电话:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_fuNameTel}"readonly="readonly" placeholder="选填" name="ct_fuNameTel" class="form-control"></div>
                                </div>
                                <!--<div class="form-group"><label class="col-sm-4 control-label">课题来源:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_from}" placeholder="不能为空" name="ct_from" class="form-control" required=""></div>
                                </div>-->
                               
                                <div class="form-group"><label class="col-sm-4 control-label">拟安排实验室:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_lab}"readonly="readonly" placeholder="不能为空" name="ct_lab" class="form-control" required=""></div>
                                </div>
                                <div class="form-group" style="display: inline;"><label class="col-sm-4 control-label">实验时间:</label>
                                    <div class="col-sm-3">
                                    	<input type="text" value="{$result[0].ct_time}" placeholder="不能为空" readonly="readonly"name="ct_time" class="form-control" required="" >
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">实验室管理员:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_lab_manager}"readonly="readonly" placeholder="不能为空" name="ct_lab_manager" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">主要研究内容:</label>
                                    <div class="col-sm-5"><textarea type="text" name="ct_yjnr"  required="" readonly="readonly" class="form-control">{$result[0].ct_yjnr}</textarea></div>
                                </div>
                                 <div class="form-group"><label class="col-sm-4 control-label">目标和要求:</label>
                                    <div class="col-sm-5"><textarea type="text"  name="ct_mbhyq" required="" readonly="readonly"class="form-control">{$result[0].ct_mbhyq}</textarea></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">备注:</label>
                                    <div class="col-sm-5"><input type="text" value="{$result[0].ct_beizhu}" readonly="readonly" name="ct_beizhu" class="form-control"></div>
                                </div>

                            <div class="form-group"><label class="col-sm-4 control-label">指导老师评分:</label>
                                <div class="col-sm-5"><input type="text" value="{$result[0].ct_start}"  readonly="readonly"  name="ct_start" class="form-control"></div>
                            </div>

                            <div class="form-group"><label class="col-sm-4 control-label">指导老师评语:</label>
                                <div class="col-sm-5"><textarea type="text"  name="ct_comment"  readonly="readonly"   class="form-control">{$result[0].ct_comment}</textarea></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
            <!-- end -->
          <!-- 导入页面头部按钮 -->
    <include file="./Application/Admin/Public/html/footbar.html" />
        
          <!-- 导入页面头部按钮 -->
    <include file="./Application/Admin/Public/html/headbtn.html" />
    </div>
<!--    判断是那中类型的管理员
-->    <script type="text/javascript">
        	navbar('.select_li','.select_li9');
    </script>

</body>
</html>
