<!DOCTYPE html>
<html>
	<!-- 导入css -->
	<include file="./Application/Admin/Public/html/css.html" />

	<body>
		<div id="wrapper">
			<!-- 导入导航菜单 -->
			<include file="./Application/Admin/Public/html/navbar.html" />
			<div id="page-wrapper" class="gray-bg dashbard-1">
				<!-- 导入页面头部 -->
				<include file="./Application/Admin/Public/html/headbar.html" />

				<!-- 本页面内容 -->
				<div class="row wrapper border-bottom white-bg page-heading">
					<div class="col-lg-9">
						<h2>管理员</h2>
						<ol class="breadcrumb">
							<li>
								<a href="index.html">首页</a>
							</li>
							<li class="breadcrumb_li2">
								添加管理
							</li>
							<li class="active">
								<strong class="breadcrumb_li3">添加学生</strong>
							</li>
						</ol>
					</div>
					<div class="col-lg-3">
						<h2></h2>
						<a class="btn btn-primary" href="__CONTROLLER__/add">返回</a>
					</div>
				</div>
				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>成功添加如下学生</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content">

                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>学号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>政治面貌</th>
                                <th>民族</th>
                                <th>录取专业</th>
                                <th>班名</th>
                                <th>身份证号</th>
                                <th>密码</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="listArray" id="vo">
                            	
                            <tr>
                                <td>{$i}</td>
                                <td>{$vo.sd_num}</td> 
                                <td>{$vo.sd_name}</td>
                                <td>{$vo.sd_sex}</td>
                                <td>{$vo.sd_political_status}</td>
                                <td>{$vo.sd_nation}</td>
                                <td>{$vo.sd_professional}</td>
                                <td>{$vo.sd_class}</td>
                                <td>{$vo.sd_idcar}</td>
                                <td>{$vo.sd_pwd}</td>
                            </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-1 col-lg-offset-11">
						<a class="btn btn-primary" href="__CONTROLLER__/add">返回添加</a>
					</div>
					</div>
					</div>
					</div>
				</div>
			</div>

			<!-- end -->

			<!-- 导入页面头部按钮 -->
			<include file="./Application/Admin/Public/html/footbar.html" />

			<!-- 导入页面头部按钮 -->
		</div>
		<include file="./Application/Admin/Public/html/headbtn.html" />
		</div>
		<!-- Mainly scripts -->
		<!-- 导入js -->
		<include file="./Application/Admin/Public/html/js.html" />
		<!--<script type="text/javascript">
			var v = window.location.pathname;
			var vNow = v.slice(-1);
			if (vNow == 0) {
				navbar('.manager_li', '.manager_li1');
				$('.breadcrumb_li2').html('管理员管理');
				$('.breadcrumb_li3').html('添加管理员');
			} else if (vNow == 2) {
				navbar('.manager_li', '.manager_li2');
				$('.breadcrumb_li2').html('系管理');
				$('.breadcrumb_li3').html('添加系管理员');
			} else {
				navbar('.manager_li', '.manager_li3');
				$('.breadcrumb_li2').html('老师管理');
				$('.breadcrumb_li3').html('添加老师管理员');
			}
		</script>-->
		<script type="text/javascript">
        	navbar('.add_li','.add_li4');
    </script>
	</body>

</html>