<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>选课</title>
		<link href="{$Think.const.HOME_PUBLIC}/css/bootstrap.min.css" rel="stylesheet">
		<link href="{$Think.const.HOME_PUBLIC}/css/style.css" rel="stylesheet">
		<style>
			#menu{
				margin: 10px auto;
				width: 80%;
				z-index: 120;
			}
		</style>

	</head>

	<body scroll="no" style="overflow-x:hidden">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
					<img src="{$Think.const.HOME_PUBLIC}/images/header.png"  style="width: 104%;margin-left: -2%;"/>
				</div>
			</div>
		</div>
		<!-- 路径导航条 -->
		<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1"></div>
		<div class="col-lg-4  col-md-4" id="nav_div">
			<ul class="nav nav-tabs nav-justified">
				 <li role="presentation" ><a href="__MODULE__/person/index">个人信息</a></li>
			 	 <li role="presentation" class="dropdown">
				  	  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="	true" aria-expanded="false">
				    	  公告 <span class="caret"></span>
				   	  </a>
				   	 <ul class="dropdown-menu" style="overflow: hidden;">
				   	 	<foreach name='announce' item="vo">
				   	 		<li><a href="__CONTROLLER__/announce/an_id/{$vo.an_id}">{$vo.an_title}</a></li>
				   	 	
				   	 	</foreach>
				    </ul>
			 	 </li>
				<li role="presentation" class="active"><a href="#">
				<span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;
				选课</a></li>
			</ul>
			
		</div>
		
		<div class="col-lg-3 co-md-3 col-sm-4"> 
			<div>
				<h5  class="text-left">
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
				<span><strong>开始时间：</strong>{$date.da_start_time|date="Y/m/d  H:m",###}</span></h5>
				<p><span></span></p>
			</div>
		</div>
		<div class="col-lg-3 co-md-3 col-sm-4" > 
			<div>
				<h5 class="text-left">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
				<span><strong>结束时间：</strong>{$date.da_end_time|date="Y/m/d  H:m",###}</span></h5>
				<p><span></span></p>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1" style="margin-left: -90px;">
			<div>
				<h5 class="text-left">{$Think.session.sdSession.sd_name}<a href="__MODULE__/Login/logout" class="bg-danger">注销</a></h5>
			</div>
		</div>
		
		</div><!-- nav end -->

		<div class="row" style="margin-top: 50px;">
			<!-- 已选课表列表 -->
			<div class="col-lg-1 col-md-1"></div>
			
			<div class="col-lg-10" id="selected_div">
				<table class="table table-striped table-hover ">
					<tr>
						<th class="bg-primary">序号</th>
						<th class="bg-primary">课程名称</th>
						<th class="bg-primary">老师</th>
						<th class="bg-primary">课程号</th>
						<th class="bg-primary">人数上限</th>
						<th class="bg-primary">已选人数</th>
						<th class="bg-info text-center" >操作</th>
					</tr>
					<foreach name="arrayList" item="vo" key="i">
					<tr>
						<td><php>echo ((($p - 1) * 20) + $i+1);</php></td>
						<td>{$vo.ct_name}</td>
						<td>{$vo.ct_teacher}</td>
						<td>{$vo.ct_num}</td>
						<td>{$vo.ct_limit_num}</td>
						<td>{$vo.ct_seletctd_num}</td>
						<if condition="$length eq 0">
						<td id="selectedId" class="selectedClass">
							<if condition="$vo['ct_seletctd_num'] eq $vo['ct_limit_num']"> 
							    <button type="button" class="btn btn-primary btn-sm btn-block" >已满</button>
							     <else />
							    <a href="__MODULE__/Person/selectContent/content_id/{$vo.ct_id}" class="btn btn-success btn-sm btn-block">选择</a>
							</if>			       
						</td>
						<else />
						<td id="selectedId" class="selectedClass">
							    <button type="button" class="btn btn-primary btn-sm btn-block" >你已选满</button>
						</td>
						</if>
					</tr>
					</foreach>
				</table>
			</div>
			<div class="col-lg-1 col-md-1"></div>
			<!-- table end-->
		</div>
		<div class="col-md-8 col-md-offset-5" style="margin-top: 20px;">
			{$page}
		</div>
        <div style="height: 110px;">&nbsp;</div>
		</div>
		<!-- 版权信息 -->
		<div class="row" style="background:#326FA3;width: 86%;margin-left: 7%;height: 110px;position: fixed;bottom: 0;;">
			<div style="margin-top: 15px;color: white;font-size: 15px;">
				<p class="text-center">问题反馈:lxj0369@163.net，李秀娟老师收</p>
				<p class="text-center">&copy;2016广东海洋大学食品学院食品科技学院</p>
				<p class="text-center">技术支持:网维工作室&nbsp;&nbsp;微信:lzhlad</p>
			</div>
		</div>
		<input type="hidden" id="startTime" value="{$date.da_start_time}"/>
		<input type="hidden" id="endTime" value="{$date.da_end_time}"/>
	</body>
        <script src="{$Think.const.HOME_PUBLIC}/js/jquery.min.js"></script>
		<script src="{$Think.const.HOME_PUBLIC}/js/bootstrap.min.js"></script>
			<script>
				$(document).ready(function(){
					var timestamp = Date.parse(new Date());
                timestamp = timestamp / 1000;
                if(timestamp < $("#startTime").val() || timestamp > $("#endTime").val()){
                	$(".selectedClass").empty().append("<button type='button' class='btn btn-danger btn-sm btn-block' >不是选课时间</button>");
                }
				})
			</script>

</html>