<!DOCTYPE html>
<html>
        <!-- 导入css -->
    <include file="./Application/Teacher/Public/html/css.html" />
        <!-- Mainly scripts -->
           <!-- 导入js -->
    <include file="./Application/Teacher/Public/html/js.html" />
<body>
    <div id="wrapper">
        <!-- 导入导航菜单 -->
    <include file="./Application/Teacher/Public/html/navbar.html" />
        <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 导入页面头部 -->
    <include file="./Application/Teacher/Public/html/headbar.html" />

              <!-- 本页面内容 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2>课题内容</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">首页</a>
                        </li>
                        <li class="breadcrumb_li2">
                            课题内容查看
                        </li>
                        <li class="active">
                            <strong class="breadcrumb_li3">添加课题</strong>
                        </li>
                    </ol>
                </div>
                
            </div>
            
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
        	<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加课题</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <form method="post" class="form-horizontal" id="form_data" name="form_data" enctype="multipart/form-data">
                                <div class="form-group"><label class="col-sm-4 control-label">课题名称（中文）:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="不能为空" name="ct_name" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">课题名称（英文）:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="不能为空" name="ct_title_en" class="form-control" required=""></div>
                                </div>
                                <!--<div class="form-group"><label class="col-sm-4 control-label">课题可选人数上限:</label>
                                    <div class="col-sm-2"><input type="text" placeholder="不能为空" name="ct_limit_num" class="form-control" required=""></div>
                                </div>-->
                                <div class="form-group"><label class="col-sm-4 control-label">指定某系学生可选:</label>
                                    <div class="col-sm-5">
                                    	<select name="ct_faculty">
                                    		<option value="食品科学与工程系">食品科学与工程系</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">课题经费来源:</label>
                                    <div class="col-sm-5">
                                    	<select name="ct_jingfei">
                                    		<option value="科研项目（国家、省、市、校）">科研项目（国家、省、市、校）</option>
                                    		<option value="企业委托项目">企业委托项目</option>
                                    		<option value="教学经费">教学经费</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">选题结合实际:</label>
                                    <div class="col-sm-5">
                                    	<select name="ct_shiji">
                                    		<option value="生产">生产</option>
                                    		<option value="科研、技术推广、与实验建设">科研、技术推广、与实验建设</option>
                                    		<option value="学科与专业发展">学科与专业发展</option>
                                    		<option value="经济、社会、文化发展">经济、社会、文化发展</option>
                                    		<option value="其他">其他</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">选题难度:</label>
                                    <div class="col-sm-5">
                                    	<select name="ct_nandu">
                                    		<option value="偏难">偏难</option>
                                    		<option value="适中">适中</option>
                                    		<option value="偏易">偏易</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">选题工作量:</label>
                                    <div class="col-sm-5">
                                    	<select name="ct_gongzuoliang">
                                    		<option value="偏难">较大</option>
                                    		<option value="适中">适中</option>
                                    		<option value="偏易">较少 </option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">研究领域:</label>
                                    <div class="col-sm-5">
                                    	<select name="ct_yjly">
                                    		<option value="水产加工">水产加工</option>
                                    		<option value="农产品加工">农产品加工</option>
                                    		<option value="生物活性物质">生物活性物质</option>
                                    		<option value="食品工艺">食品工艺</option>
                                    		<option value="生产线设计">生产线设计</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">指导老师:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="不能为空" name="ct_teacher" class="form-control" required=""></div>
                                </div>
                                 <div class="form-group"><label class="col-sm-4 control-label">指导老师职称:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="不能为空" name="ct_zhicheng" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">指导老师电话:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="不能为空" name="ct_phone" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">副指导老师:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="选填" name="ct_fu_name" class="form-control"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">副指导老师职称:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="选填" name="ct_zhicheng1" class="form-control" required=""></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">副指导老师电话:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="选填" name="ct_fuNameTel" class="form-control"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">拟安排实验室:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="不能为空" name="ct_lab" class="form-control" required=""></div>
                                </div>
                                <div class="form-group" style="display: inline;"><label class="col-sm-4 control-label">实验时间:</label>
                                    <div class="col-sm-3">
                                    	<input type="text" placeholder="不能为空" name="ct_time" class="form-control" required="" >
                                    </div>
                                    <p>例:2016-10-1</p>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">实验室管理员:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="不能为空" name="ct_lab_manager" class="form-control" required=""></div>
                                </div>
                                
                                 <div class="form-group"><label class="col-sm-4 control-label">主要研究内容:</label>
                                    <div class="col-sm-5"><textarea name="ct_yjnr" placeholder="必填" required="" class="form-control"></textarea></div>
                                </div>
                                 <div class="form-group"><label class="col-sm-4 control-label">目标和要求:</label>
                                    <div class="col-sm-5"><textarea name="ct_mbhyq" placeholder="必填"  class="form-control"></textarea></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">备注:</label>
                                    <div class="col-sm-5"><input type="text" placeholder="选填" name="ct_beizhu" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-4">
                                        <button class="btn btn-warning" type="reset">取消</button>
                                        <button class="btn btn-primary" type="submit">确认</button>
                                    </div>
                                </div>
                        </form>
                        <div class="row">
                        	<div class="col-lg-4 col-lg-offset-5">{$page}</div>
                        </div>
                         
                    </div>
                    
                </div>
                
            </div>
             
        </div>
        </div>
        </div>
            <!-- end -->
          <!-- 导入页面头部按钮 -->
    <include file="./Application/Teacher/Public/html/footbar.html" />
        
          <!-- 导入页面头部按钮 -->
    <include file="./Application/Teacher/Public/html/headbtn.html" />
    </div>
    <input type="hidden" class="hidden_input" value="{$list[0].mg_sign}"/>
<!--    判断是那中类型的管理员
-->    <script type="text/javascript">
        	navbar('.add_li','.add_li');
    </script>

</body>
</html>
