<!DOCTYPE html>
<html>
        <!-- 导入css -->
    <include file="./Application/Admin/Public/html/css.html" />
        <!-- Mainly scripts -->
           <!-- 导入js -->
    <include file="./Application/Admin/Public/html/js.html" />
<body>
    <div id="wrapper">
        <!-- 导入导航菜单 -->
    <include file="./Application/Admin/Public/html/navbar.html" />
        <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 导入页面头部 -->
    <include file="./Application/Admin/Public/html/headbar.html" />
              <!-- 本页面内容 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-6">
                    <h3>原创文章</h3>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">首页</a>
                        </li>
                        <li>
                            文章管理
                        </li>
                        <li class="active">
                            <strong>所有文章</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-6">
                    <h2></h2>

                </div>
            </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
        	<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>所有系</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">序号</th>
                                <th class="text-center">标题</th>
                                <th class="text-center">发布时间</th>
                                <!--<th class="text-center">摘要</th>-->
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="arrayList" id="vo" key="i">
                            <tr>
                                <td class="text-center"><php>echo ((($p - 1) * 20) + $i);</php></td>
                                <td class="text-center" width="30%">{$vo.an_title}</td>  
                                <td class="text-center">{$vo.an_create_time|date='Y-m-d',###}</td>
                                <!--<td class="text-center" width="30%">{$vo.an_summary}</td>-->
                                <td class="text-center"><a href="__MODULE__/Announce/edit/singleID/{$vo.an_id}" class="btn btn-warning">修改</a></td>
                            </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-6 col-lg-offset-8">
                    	{$page}
                    </div>
                </div>
            </div>
        </div>
        </div>
            <!-- end -->
</div>
          <!-- 导入页面头部按钮 -->
    <include file="./Application/Admin/Public/html/footbar.html" />
          <!-- 导入页面头部按钮 -->
    <include file="./Application/Admin/Public/html/headbtn.html" />
    </div>
    <script type="text/javascript">
       navbar('.select_li','.select_li7');
    </script>
</body>
</html>
